<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGINA CON CSS EXTERNO</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
</head>
<body>
    <header><h1>PAGINA</h1></header>
    <main>
        <label for="nombre">Nombre:</label>
        <input type="text" id="Nombre" name="Nombre">
        <hr>
        <br>
        <label for="colorfavorito">Color Favorito:</label>
        <select name="colorfavorito" id="colorfavorito">
            <option value="azul">Azul</option>
            <option value="rojo">Rojo</option>
            <option value="verde">Verde</option>
            <option value="amarillo">Amarillo</option>
        </select>
        <hr>
        <br>
        <label for="comentario">Ingresa Un Comentario: </label>
        <textarea name="comentario" id="comentario"></textarea>
        <hr>
        <br>
        <label for="genero">Género:</label>
        <input type="radio" name="genero" value="masculino">
        <label for="masculino">Masculino</label>
        <input type="radio" name="genero" value="femenino">
        <label for="femenino">Femenino</label>
        <hr>
        <br>
        <input type="checkbox" id="terminos" name="terminos">
        <label for="terminos">Acepto los términos y condiciones</label>
    </main>
    <footer></footer>
    
</body>
</html>